.iconbar {
  width: 90px;
  background-color: #555;
}

.iconbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #ffffff;
  font-size: 36px;
}

.iconbar a:hover {
  background-color: #000;
}

a {
  background-color: #4caf50;
}
